
body {
  background: url("newbg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.tiledBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center center;
  max-width: 60%;
  height: 100vh;
  width: auto\9;
  color: black;
}

.display-linebreak {
  white-space: pre-line;
}


h1 {
  color: white;
}





* {font-size: 2vh;}

