
body {
  background-color: rgb(255, 255, 255);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


  .tiledBackground {
    max-width: 60%;
    height: 100vh;
    width: auto\9;
    color: black;
    outline-style: solid
  }

  .center-navbar {
    width:30%;
    margin-left: 35%;
  }

  .navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

 
  

@media (pointer:coarse) {
  .tiledBackground {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-position: center center;
    max-width: 100%;
    min-height: 100%;
    width: auto\9;

  }
}



.display-linebreak {
  white-space: pre-line;
}

.input-group {
  width: 80% !important;
}

h1 {
  color: black;
}





* {font-size: 2vh;}

